<h1>bormashino-sequel-sqljs-adapter rspec</h1>
<div>
  <h2>stdout</h2>
  <pre><%= @out.tap(&:rewind).read %></pre>
</div>

<div>
  <h2>stderr</h2>
  <pre><%= @err.tap(&:rewind).read %></pre>
</div>

<div>
  <h2>entire result</h2>
  <%= @ret %>
</div>
